# Intellij
*.iml
.idea
# vscode
.vscode
# npm
node_modules

# build
main.js
*.map

# obsidian
data.json
/coverage/lcov-report/
/coverage/

# Exclude macOS Finder (System Explorer) View States
.DS_Store
.eslintignore
.stignore
