
# npm
node_modules
package-lock.json

# build
main.js
*.map

# obsidian
data.json
/coverage/lcov-report/
/coverage/

# Exclude macOS Finder (System Explorer) View States
.DS_Store
.eslintignore
.stignore
